<div ng-controller="editorCtrl">
<style type="text/css" media="screen">
    #editor {
        position: fixed;
        top: 20%;
        right: 0%;
        bottom: 0;
        left: 5%;
    }
</style>
<h2>Notre merveilleux editeur de texte en ligne !</h2>
<p> Il est tout à fait possible de changer sa taille, sa position ainsi que son theme. Je suis trop une fille dark alors j'ai laissé celui ci, mais on peut le mettre en clair !</p>
<div id="editor" style="max-height: 50%; max-width: 50%; border: solid 3px gray;">void      main()
    {
    }
    </div>

<button ng-click="comp()" type="button" class="btn btn-success">Success</button>
</div>