<div ng-controller="editorCtrl">


    <div class="row">
        <div class="col-md-8">
            <div id="editor" style=" min-height: 600px; border: solid 3px gray;"></div>
        </div>
        <div class="col-md-4 well">
            <div class="row">
                <div class="col-md-5">
                    <div class="col-md-4">
                <button ng-click="comp()" type="button" class="btn btn-success"><span class="glyphicon glyphicon-ok" ></span></button>
                    </div>
                    <div class="col-md-8">
                        <p><b>Compiler</b></p>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="col-md-4">
                    <button ng-click="dest()" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash" ></span></button>
                    </div>
                    <div class="col-md-8">
                        <p><b>Vider l'editeur</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>